* {
  box-sizing: border-box;
}

body {
  font-family: "Trueno", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: pink;
  color: brown;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 200px;
}

.toggle {
  visibility: hidden;
}

.label {
  width: 80px;
  height: 40px;
  background-color: grey;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin: 0 15px 0;
}

.toggle:checked + .label{
  background-color: brown
}

.ball {
  background: white;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  align-items: center;
  justify-content: center;
  animation: sildeOff 0.3s linear forwards;
}

.toggle:checked + .label .ball {
  animation: sildeOn 0.3s linear forwards;
}

@keyframes sildeOn {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(40px) scale(1);
  }
}

@keyframes sildeOff {
  0% {
    transform: translateX(40px) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}